name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go 1.x
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v6.1.0
        with:
          version: latest
          args: --timeout 5m

  terraform-fmt-check:
    name: Terraform Format Validation Check
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Format Check
        run: terraform fmt -check -recursive
  
  ibm-terraform-test:
    name: Run IBM unit tests
    runs-on: ubuntu-latest

    env:
      IBMCLOUD_API_KEY: ${{secrets.IBMCLOUD_API_KEY}}
      IBM_CLOUD_API_KEY: ${{secrets.IBM_CLOUD_API_KEY}}
      IBM_CLOUD_IAM_URL: ${{secrets.IBM_CLOUD_IAM_URL}}
      PRICING_API_ENDPOINT: ${{secrets.PRICING_API_ENDPOINT}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Make deps
        run: make deps

      - name: Make build
        run: make build
        
      - name: Run IBM unit tests
        run: make test_ibm
